*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-color: #021C1E;
}

h1{
    color: #6FB98F;
    text-align: center;
    padding-top: 50px;
}

.eingabe{
    display: grid;
    grid-template-columns: auto auto;
    gap: 550px;
    height: 50px;
    width: 500px;
    padding-left: 35%;
    padding-top: 40px;
}
.output{
    height: 50px;
    width: 500px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.board{
    display: flex;
    float: inline;
    padding: 50px;
    padding-left: 33.5%;
}

.number{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 250px;
    width: 400px;
    gap: 10px;
    padding: 10px;
}

.zeichen {
    display: grid;
    grid-template-rows: auto;
    height: 250px;
    width: 150px;
    gap: 5px;
    padding: 10px;
}

